<div class="container">
    <div class="dice" [style.transform]="style">
        <!-- 1 -->
        <div class="dice__face dice__face-front">
            <span class="dot"></span>
        </div>
        <!-- 6 -->
        <div class="dice__face dice__face-back">
            <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <!-- 3 -->
        <div class="dice__face dice__face-right">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <!-- 4 -->
        <div class="dice__face dice__face-left">
            <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <!-- 5 -->
        <div class="dice__face dice__face-top">
            <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <span class="dot"></span>
            <div class="row">
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <!-- 2 -->
        <div class="dice__face dice__face-bottom">
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
</div>
