<div *ngIf="diceNumber === 1" class="dice dice-one">
    <div class="dice__dot"></div>
</div>

<div *ngIf="diceNumber === 2" class="dice dice-two">
    <div class="dice__dot"></div>
    <div class="dice__dot"></div>
</div>

<div *ngIf="diceNumber === 3" class="dice dice-three">
    <div class="dice__dot"></div>
    <div class="dice__dot"></div>
    <div class="dice__dot"></div>
</div>

<div *ngIf="diceNumber === 4" class="dice">
    <div class="dice__row">
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
    </div>
    <div class="dice__row">
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
    </div>
</div>

<div *ngIf="diceNumber === 5" class="dice dice-five">
    <div class="dice__row">
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
    </div>
    <div class="dice__dot"></div>
    <div class="dice__row">
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
    </div>
</div>

<div *ngIf="diceNumber === 6" class="dice">
    <div class="dice__row">
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
    </div>
    <div class="dice__row">
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
    </div>
    <div class="dice__row">
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
    </div>
</div>
